<ion-header>
  <ion-toolbar>
    <ion-title>
      Minha Matrícula
    
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="card-container">
  <div class="image-container">
    <img src="assets/image.png">
    
  </div>
    
    <ion-card-header>
      <ion-card-title  class="center-text">Nome: <span class="Center-text">Felipe José Araújo da Silva</span></ion-card-title>
    </ion-card-header>
    <ion-card-content class="center-text">
    <strong>
      Turma: <span class="center-text">ADS</span><br>
        Matrícula: <span class="code-number">23205414</span><br>
       Turno:  <span class="center-text">Manhã</span><br>
       Unidade de Estudo: <span class="center-text">Bonsucesso</span> </strong> 
    </ion-card-content>
  </ion-card>
  </ion-content>